# Terraform
**/.terraform/*
**/.terragrunt-cache/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json
.terraform.lock.hcl

# Python / tooling
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
